@import "semantic-ui";

.group{
  height: 200px;
}

.whitecolor{
  color: white !important;
}

.coloredtext{
  background-color: darkgrey !important;
}

.coleredlabel{
  color: #F7F7F7 !important;
  font-weight: bold;
}